/* Alteração no container de barra para ficar no centro (Barras) */
.container-fluid.my-container-barra {
    justify-content: center;
}

/* Alteração no container onde fica o resultado das contas (Resultados) */
.container-fluid.my-container-resultado {
    margin-top: 50px;
    margin-left: 650px;
}

/* Alteração no container onde fica barra de preenchimento e botão para ficar no centro (Contas) */
.container-fluid.my-container-contas {
    margin-top: 50px;
    margin-left: 550px;
}