.navbar-collapse {
    flex-grow: 0;
}

.container-fluid.my-container-barra {
    justify-content: center;
}

.container-fluid.my-container {
    justify-content: center;
    flex-grow: 0;
    margin-top: 50px;
    margin-left: 530px;
}

a.my-a {
    margin-left: 450px;
}

h1.my-h1 {
    margin-left: 470px;
}

div.my-div {
    margin-left: 110px;
}

button.my-btn {
    margin-left: 123px;
}

p.my-p {
    margin-left: 505px;
}
